NET "CLOCK_25" LOC = P50;
NET "ppuCLK" LOC = P88;
NET "VGA_R[7]" LOC = P26;
NET "VGA_R[6]" LOC = P27;
NET "VGA_R[5]" LOC = P29;
NET "VGA_R[4]" LOC = P30;
NET "VGA_R[3]" LOC = P32;
NET "VGA_R[2]" LOC = P33;
NET "VGA_R[1]" LOC = P34;
NET "VGA_R[0]" LOC = P35;
NET "VGA_G[7]" LOC = P14;
NET "VGA_G[6]" LOC = P15;
NET "VGA_G[5]" LOC = P16;
NET "VGA_G[4]" LOC = P17;
NET "VGA_G[3]" LOC = P21;
NET "VGA_G[2]" LOC = P22;
NET "VGA_G[1]" LOC = P23;
NET "VGA_G[0]" LOC = P24;
NET "VGA_B[7]" LOC = P1;
NET "VGA_B[6]" LOC = P2;
NET "VGA_B[5]" LOC = P5;
NET "VGA_B[4]" LOC = P6;
NET "VGA_B[3]" LOC = P7;
NET "VGA_B[2]" LOC = P8;
NET "VGA_B[1]" LOC = P9;
NET "VGA_B[0]" LOC = P10;
NET "VGA_VS" LOC = P41;
NET "VGA_HS" LOC = P40;
NET "VGA_BLANK_N" LOC = P12;
NET "VGA_SYNC_N" LOC = P11;
NET "VGA_CLK" LOC = P134;
NET "ppuAD[7]" LOC = P95;
NET "ppuAD[6]" LOC = P97;
NET "ppuAD[5]" LOC = P98;
NET "ppuAD[4]" LOC = P99;
NET "ppuAD[3]" LOC = P100;
NET "ppuAD[2]" LOC = P101;
NET "ppuAD[1]" LOC = P102;
NET "ppuAD[0]" LOC = P104;
NET "ppuA_upper[13]" LOC = P57;
NET "ppuA_upper[12]" LOC = P56;
NET "ppuA_upper[11]" LOC = P55;
NET "ppuA_upper[10]" LOC = P51;
NET "ppuA_upper[9]" LOC = P48;
NET "ppuA_upper[8]" LOC = P47;
NET "ppuWR_N" LOC = P59;
NET "ppuRD_N" LOC = P61;
NET "ppuALE" LOC = P46;
NET "cpuD[7]" LOC = P81;
NET "cpuD[6]" LOC = P82;
NET "cpuD[5]" LOC = P83;
NET "cpuD[4]" LOC = P84;
NET "cpuD[3]" LOC = P85;
NET "cpuD[2]" LOC = P87;
NET "cpuD[1]" LOC = P92;
NET "cpuD[0]" LOC = P93;
NET "cpuRW" LOC = P79;
NET "cpuCS_N" LOC = P66;
NET "cpuRST_N" LOC = P62;
NET "cpuA[2]" LOC = P78;
NET "cpuA[1]" LOC = P75;
NET "cpuA[0]" LOC = P67;
NET "cpuINT_N" LOC = P58;
NET "buffOE" LOC = P80;
NET "cpuD_dir" LOC = P94;
NET "ppuAD_dir" LOC = P105;
NET "picBUS[7]" LOC = P120;
NET "picBUS[6]" LOC = P119;
NET "picBUS[5]" LOC = P121;
NET "picBUS[4]" LOC = P123;
NET "picBUS[3]" LOC = P124;
NET "picBUS[2]" LOC = P126;
NET "picBUS[1]" LOC = P127;
NET "picBUS[0]" LOC = P131;
NET "picCLK" LOC = P45;
NET "picAD" LOC = P44;
NET "picRW" LOC = P43;
NET "led[1]" LOC = P133;
NET "led[0]" LOC = P132;
NET "jmp[0]" LOC = P118;
NET "jmp[1]" LOC = P117;
NET "jmp[2]" LOC = P116;
NET "jmp[3]" LOC = P115;
NET "jmp[4]" LOC = P114;
NET "jmp[5]" LOC = P112;
NET "jmp[6]" LOC = P111;

NET "CLOCK_25" TNM_NET = CLOCK_25;
TIMESPEC TS_CLOCK_25 = PERIOD "CLOCK_25" 25 MHz HIGH 50%;

NET "ppuCLK" TNM_NET = ppuCLK;
TIMESPEC TS_ppuCLK = PERIOD "ppuCLK" 100 MHz HIGH 50%;

NET "ppuCLK_div4" TNM_NET = ppuCLK_div4;
TIMESPEC TS_ppuCLK_div4 = PERIOD "ppuCLK_div4" 100 MHz HIGH 50%;

#NET "ppuCLK_div12" TNM_NET = ppuCLK_div12;
#TIMESPEC TS_ppuCLK_div12 = PERIOD "ppuCLK_div12" 100 MHz HIGH 50%;

NET "picCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "picCLK" TNM_NET = picCLK;
TIMESPEC TS_picCLK = PERIOD "picCLK" 1 MHz HIGH 50%;

INST "cpuA<0>" TNM = "PPUBus";
INST "cpuA<1>" TNM = "PPUBus";
INST "cpuA<2>" TNM = "PPUBus";
INST "cpuCS_N" TNM = "PPUBus";
INST "cpuD<0>" TNM = "PPUBus";
INST "cpuD<1>" TNM = "PPUBus";
INST "cpuD<2>" TNM = "PPUBus";
INST "cpuD<3>" TNM = "PPUBus";
INST "cpuD<4>" TNM = "PPUBus";
INST "cpuD<5>" TNM = "PPUBus";
INST "cpuD<6>" TNM = "PPUBus";
INST "cpuD<7>" TNM = "PPUBus";
INST "cpuD_dir" TNM = "PPUBus";
INST "cpuINT_N" TNM = "PPUBus";
INST "cpuRW" TNM = "PPUBus";
INST "picAD" TNM = "PPUBus";
INST "ppuAD<0>" TNM = "PPUBus";
INST "ppuAD<1>" TNM = "PPUBus";
INST "ppuAD<2>" TNM = "PPUBus";
INST "ppuAD<3>" TNM = "PPUBus";
INST "ppuAD<4>" TNM = "PPUBus";
INST "ppuAD<5>" TNM = "PPUBus";
INST "ppuAD<6>" TNM = "PPUBus";
INST "ppuAD<7>" TNM = "PPUBus";
INST "ppuAD_dir" TNM = "PPUBus";
INST "ppuALE" TNM = "PPUBus";
INST "ppuA_upper<10>" TNM = "PPUBus";
INST "ppuA_upper<11>" TNM = "PPUBus";
INST "ppuA_upper<12>" TNM = "PPUBus";
INST "ppuA_upper<13>" TNM = "PPUBus";
INST "ppuA_upper<8>" TNM = "PPUBus";
INST "ppuA_upper<9>" TNM = "PPUBus";
INST "ppuRD_N" TNM = "PPUBus";
INST "ppuWR_N" TNM = "PPUBus";
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2014/06/14
TIMEGRP "PPUBus" OFFSET = IN 10.0 ns VALID 10 ns BEFORE "ppuCLK";
TIMEGRP "PPUBus" OFFSET = OUT 10.0 ns AFTER "ppuCLK";
